.App {
  text-align: center;
  margin-top: 60px;
}

#fileuploader {
  width: 50%;
  margin: auto;
}

#submitbutton {
  margin: auto;
  margin-top: 20px;
}

#email {
  width: 50%;
  margin: auto;
  margin-bottom: 10px;
}